CONFIG_ESPTOOLPY_NO_STUB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y

CONFIG_FREERTOS_HZ=1000

CONFIG_EXAMPLE_CONNECT_WIFI=y
CONFIG_EXAMPLE_WIFI_SSID="iottest"
CONFIG_EXAMPLE_WIFI_PASSWORD="12345678"
CONFIG_EXAMPLE_WIFI_SCAN_METHOD_FAST=y
CONFIG_EXAMPLE_WIFI_CONNECT_AP_BY_SIGNAL=y

CONFIG_ESP_TLS_INSECURE=y
CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y

CONFIG_ESP_TASK_WDT_TIMEOUT_S=30
